@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to the Banking System MVC Application</h1>
    <p class="lead">This is the homepage of the Banking System MVC application.</p>
</div>
